.homeContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  align-items: flex-start;
}

.homeText {
  color: black;
  padding-left: 50px;
}

.headshot {
  border-radius: 50%;
}