.homeContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding-left: 100px;
  padding-right: 100px;
}

.homeText {
  color: black;
  padding-left: 30px;
}

.headshot {
  border-radius: 50%;
}

.iconContainer {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.iconImg {
  padding-right: 10px;
}