.hobbyContainer {
  display: flex;
  flex-direction: row;
  padding-bottom: 50px;
  align-items: flex-start;
}

.imageContainer {
  min-width: 600px;
}

.videoContainer {
  min-width: 600px;
  margin: 0 auto;
}

.hobbyVerticalContainer {
  flex-direction: column;
  padding-left: 0px;
  align-items: flex-start;
}

.hobbyTextContainer {
  width: 250px;
}

.hobbyTitleText {
  font-size: 30px;
  font-weight: bold;
  color: black;
  padding-right: 20px;
}

.hobbyDescriptionText {
  font-size: 14px;
  color: black;
}

.hobbyImg {
  padding-right: 25px;
}