.nav{
  list-style:none;
  margin:0;
  padding-bottom: 50px;
  text-align:center;
}

.nav li{
  display:inline;
}

.nav a{
  display:inline-block;
  color: #4500D8;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: large;
}

.nav a:hover {
  color: #CD91FF;
} 

